<footer id="contact" class="footer-one iq-bg-dark">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row footer-standard">
                <div class="col-lg-7">
                    <div class="widget text-left">
                        <div class="menu-footer-link-1-container">
                            <ul id="menu-footer-link-1" class="menu p-0">
                                <li id="menu-item-7314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7314">
                                    <a href="~/home/termsofuse">Terms Of Use</a>
                                </li>
                                <li id="menu-item-7316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7316">
                                    <a href="~/home/privacyPolicy">Privacy-Policy</a>
                                </li>
                                <li id="menu-item-7118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7118">
                                    <a href="~/home/faq">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget text-left">
                        <div class="textwidget">
                            <p><small>© 2021 InstaGames. All Rights Reserved. All videos and shows on this platform are trademarks of, and all related images and content are the property of InstaGames Inc. Duplication and copy of this is strictly prohibited. All rights reserved.</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-4 mt-lg-0">
                    <h6 class="footer-link-title">
                        Follow Us :
                    </h6>
                    <ul class="info-share">
                        <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://myaccount.google.com/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a target="_blank" href="https://github.com/"><i class="fa fa-github"></i></a></li>
                    </ul>

                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="widget text-left">
                        <div class="textwidget">
                            <h6 class="footer-link-title">Pay With:</h6>
                            <div class="d-flex align-items-center">
                                <a class="app-image" target="_blank" href="https://www.paypal.com">
                                    <img src="/Content/images/footer/PayPal.png" alt="play-store">
                                </a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
