@model GroupProject.WebApp.Models.HomeViewModel.IndexViewModel

<section id="iq-upcoming-movie">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                    <h4 class="main-title">Upcoming Games</h4>
                    <a class="iq-view-all" href="movie-category.html">View All</a>
                </div>
                <div class="upcoming-contens">
                    <ul class="favorites-slider list-inline row p-0 mb-0">
                        @foreach (var game in Model.UpcomingGames)
                        {
                            <li class="slide-item">
                                <div class="block-images position-relative">
                                    <div class="img-box">
                                        <img src="@game.Photo" class="img-fluid" alt="">
                                    </div>
                                    <div class="block-description">
                                        <h6 class="iq-title"><a href="~/game/details/@game.GameId">@game.Title</a></h6>
                                        <div class="movie-time d-flex align-items-center my-2">
                                            <img src="@game.Pegi" alt="Alternate Text" class="p-2 mr-2" width="40" />
                                            @*<div class="badge badge-secondary p-1 mr-2">5+</div>
                                                <span class="text-white">2h 30m</span>*@
                                        </div>
                                        @if (game.GameUrl != null)
                                        {
                                            <div class="hover-buttons">
                                                <a href="~/game/play/@game.GameId" class="btn btn-hover iq-button">
                                                    <i class="fa fa-play mr-2"aria-hidden="true"></i>Play Demo
                                                </a>
                                            </div>
                                        }
                                        <div class="hover-buttons">
                                            <a href="~/game/details/@game.GameId" class="btn btn-hover iq-button">
                                                <i class="fa fa-info-circle mr-1" aria-hidden="true"></i>
                                                Details
                                            </a>
                                        </div>
                                    </div>
                                    <div class="block-social-info">
                                        <ul class="list-inline p-0 m-0 music-play-lists">
                                            <li class="share">
                                                <span><i class="ri-share-fill"></i></span>
                                                <div class="share-box">
                                                    <div class="d-flex align-items-center">
                                                        <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                        <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                        <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <span><i class="ri-heart-fill"></i></span>
                                                <span class="count-box">19+</span>
                                            </li>
                                            <li><span><i class="ri-add-line"></i></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
