@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Sign in Start -->
<section class="sign-in-page mt-5">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6 col-sm-12 col-12 ">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <img src="~/Content/images/mail.png" width="80" alt="">
                            <h3 class="mt-3 mb-0">Email sent !</h3>
                            <p class="text-white">  Please check your email to reset your password.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

