@model GroupProject.WebApp.Models.AccountViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="loading">
    <div id="loading-center">
    </div>
</div>

<section class="sign-in-page">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <h3 class="mb-3 text-center">Reset Password</h3>
                            <p class="text-body">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">


                                    @Html.EditorFor(m => m.Email, new { @class = "form-control mb-0" , placeholder = "Enter email" })
                                </div>

                                <div class="sign-info">
                                    <button type="submit" class="btn btn-hover">Reset</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign in END -->
        <!-- color-customizer -->
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}