@{
    ViewBag.Title = "Confirm Email -Streamit";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <img src="~/Content/images/mail.png" width="80" alt="">
                            <p class="text-white">An email has been send to <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5f26302a2d3a323e36331f3b30323e3631713c303271">[email&#160;protected]</a> Please click on the included link to Confirm your Email</p>
                            <div class="d-inline-block w-100">
                                <a href="~/home/index" class="btn btn-primary mt-3">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


