@model GroupProject.Entities.Game
@{
    ViewBag.Title = "Details -InstaGames";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="loading">
    <div id="loading-center">
    </div>
</div>
<section class="height-100-vh iq-main-slider">
    <div class="embed-responsive embed-responsive-4by3">
        <iframe id="BrickBraker" class="embed-responsive-item" src="https://i.simmer.io/@("@")Kostas/brickbreaker" style=" width:100%; height:60%; border: 0 "></iframe>
    </div>
</section>

@*<div class="container mt-5 mb-5">
    <div class="embed-responsive embed-responsive-4by3">
        <iframe id="BrickBraker" class="embed-responsive-item" src="https://i.simmer.io/@("@")Kostas/brickbreaker" style="border: 0 "></iframe>
    </div>
</div>*@
