
@{
    ViewBag.Title = "Multiplayer Games -InstaGames";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="container">
    <div class="wrapper">
        <div class="iq-comingsoon pt-5">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-8 text-center">
                        <div class="iq-comingsoon-info">
                            <a href="~/home/index">
                                <img src="/Content/images/logo.png" class="img-fluid w-25" width="200" alt="">
                            </a>
                            <h2 class="mt-4 mb-1">Stay tunned, we're launching MultiPlayer Games very soon</h2>
                            <p>We are working very hard to give you the best experience possible!</p>
                            <ul class="countdown d-flex align-items-center list-inline" data-date="Feb 02 2022 20:20:22">
                                <li class="col-md-6 col-lg-3">
                                    <div class="iq-card">
                                        <div class="iq-card-body">
                                            <span data-days>@DateTime.Now.AddYears(1).Day</span>Days
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-6 col-lg-3">
                                    <div class="iq-card">
                                        <div class="iq-card-body">
                                            <span data-hours>@DateTime.Now.AddYears(1).Hour</span>Hours
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-6 col-lg-3">
                                    <div class="iq-card">
                                        <div class="iq-card-body">
                                            <span data-minutes>@DateTime.Now.AddYears(1).Minute</span>Minutes
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-6 col-lg-3">
                                    <div class="iq-card">
                                        <div class="iq-card-body">
                                            <span data-seconds>@DateTime.Now.AddYears(1).Second</span>Seconds
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <form class="iq-comingsoon-form mt-5">
                            <div class="form-group">
                                <input type="email" class="form-control comming mb-0" id="exampleInputEmail1" placeholder="Enter email address">
                                <button type="button" class="btn btn-outline-primary mb-3 mt-2 btn-sm"><i class="ri-heart-line"></i>Subscribe</button>
                                <a href="~/home/index" class="btn btn-outline-primary mb-3 mt-2 btn-sm"><i class="fa fa-backward"></i>Return</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
