@{
    ViewBag.Title = "About – InstaGames";
}

<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style=" background-image: url(/Content/images/about-us/about.jpeg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">About Us</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="~/home/index">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- mastermind start -->

<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 mb-sm-4">

                <div class="text-center iq-title-box iq-title-default">
                    <h2 class="iq-title text-capitalize">
                        Our team
                    </h2>
                    <p class="iq-title-desc">InstaGames is built by one of the most dedicated and hardworking teams participating in PeopleCert's Coding Bootcamp.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-md container-fluid">

        <div class="row about-us-detail">
            <div class="col-md-4 mb-4">
                <div class="image-box">
                    <img width="265" height="345" src="~/Content/images/about-us/Kostas.jpg" class="img-fluid attachment-large size-large" alt="" loading="lazy">
                </div>

                <div class="icon-box-content">
                    <div class="widget-container">
                        <p class="heading-title size-default">Developer</p>
                    </div>
                    <div class="widget-container">
                        <a href="https://github.com/kwstaskor" target="_blank"> <h4 class="heading-title size-default">Kostas Korliaftis</h4></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="image-box">
                    <img width="265" height="345" src="~/Content/images/about-us/Michael.jpg" class="img-fluid attachment-large size-large" alt="" loading="lazy">
                </div>

                <div class="icon-box-content">
                    <div class="widget-container">
                        <p class="heading-title size-default">Developer</p>
                    </div>
                    <div class="widget-container">
                        <a href="https://github.com/mikedalpha" target="_blank"><h4 class="heading-title size-default">Michael Athanasoglou</h4></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="image-box">
                    <img width="265" height="345" src="../../Content/images/about-us/Konstantina.jpg" class="img-fluid attachment-large size-large" alt="" loading="lazy">
                </div>

                <div class="icon-box-content">
                    <div class="widget-container">
                        <p class="heading-title size-default">Developer</p>
                    </div>
                    <div class="widget-container">
                        <a href="https://github.com/KonstantinaLa" target="_blank"><h4 class="heading-title size-default">Konstantina Lakoumenta</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid p-0">
        <div class="map-container" style=" left: 0px;">

            <div class="container">
                <div class="row about-us-row text-center align-items-center">
                    <div class="col-md-6">
                        <div id="map" style="height: 400px; width: 500px"></div>
                    </div>
                    <div class="col-md-6">
                        <div class=" text-left iq-title-box iq-title-default">
                            <h2 class="iq-title">
                                Contact Us Here
                            </h2>
                            <p class="iq-title-desc">InstaGames is located in Athens and you can contact us at <a href="mailto:wemakegames21@gmail.com">wemakegames21@gmail.com</a> for any tech-related support and assistance. We love to hear from our InstaGames users.</p>

                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="counter">
                                        <span class="counter-number" data-duration="2000" data-to-value="4" data-from-value="0" data-delimiter=",">1</span>
                                    </div>
                                    <div class="counter-title">Branch</div>
                                </div>

                                <div class="col-md-4">
                                    <div class="iq-contact-list" data-element_type="column">
                                        <div class="counter">
                                            <span class="counter-number" data-duration="2000" data-to-value="4" data-from-value="0" data-delimiter=",">
                                                3
                                            </span>
                                        </div>
                                        <div class="counter-title">Employees</div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="iq-contact-list" data-element_type="column">
                                        <div class="counter">
                                            <span class="counter-number" data-duration="2000" data-to-value="4" data-from-value="0" data-delimiter=",">
                                                1,000+
                                            </span>
                                        </div>
                                        <div class="counter-title">Clients</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="svg-header">
            <div class="svg-mini-header">
                <div class="text-center iq-title-box iq-title-default">
                    <h2 class="iq-title">
                        Created Using The Latest Versions Of:
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center d-flex justify-content-center">

            <div class="col-md-2">
                <div class="image-box">
                    <img src="~/Content/images/about-us/javascript.svg" class="img-fluid" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-box">
                    <img src="~/Content/images/about-us/html5-without-wordmark-black-white.svg" class="img-fluid" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-box">
                    <img src="~/Content/images/about-us/css-3.svg" class="img-fluid" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-box">
                    <img src="~/Content/images/about-us/Csharp.svg" class="img-fluid" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-box">
                    <img src="~/Content/images/about-us/unityWhite.svg" class="img-fluid" width="150px" />
                </div>
            </div>
        </div>
    </div>
</main>
<!-- MainContent End-->


<!-- Map Api-->
@section scripts{
    <script id="elementor-frontend-js-before">
        var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "version": "3.0.14", "is_static": false, "legacyMode": { "elementWrappers": true }, "urls": { "assets": "https:\/\/iqonic.design\/wp-themes\/streamit_wp\/wp-content\/plugins\/elementor\/assets\/" }, "settings": { "page": [], "editorPreferences": [] }, "kit": { "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 7873, "title": "About%20Us%20%E2%80%93%20Streamit", "excerpt": "", "featuredImage": false } };
    </script>
    <script>

        let map;
        let mapPoint;
        let marker;
        function initMap() {

            mapPoint = { lat: 37.985987, lng: 23.729841 };
            map = new google.maps.Map(document.getElementById('map'), {
                center: mapPoint,
                zoom: 15,
                styles: [
                    { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
                    { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
                    { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
                    {
                        featureType: "administrative.locality",
                        elementType: "labels.text.fill",
                        stylers: [{ color: "#d59563" }],
                    },
                    {
                        featureType: "poi",
                        elementType: "labels.text.fill",
                        stylers: [{ color: "#d59563" }],
                    },
                    {
                        featureType: "poi.park",
                        elementType: "geometry",
                        stylers: [{ color: "#263c3f" }],
                    },
                    {
                        featureType: "poi.park",
                        elementType: "labels.text.fill",
                        stylers: [{ color: "#6b9a76" }],
                    },
                    {
                        featureType: "road",
                        elementType: "geometry",
                        stylers: [{ color: "#38414e" }],
                    },
                    {
                        featureType: "road",
                        elementType: "geometry.stroke",
                        stylers: [{ color: "#212a37" }],
                    },
                    {
                        featureType: "road",
                        elementType: "labels.text.fill",
                        stylers: [{ color: "#9ca5b3" }],
                    },
                    {
                        featureType: "road.highway",
                        elementType: "geometry",
                        stylers: [{ color: "#746855" }],
                    },
                    {
                        featureType: "road.highway",
                        elementType: "geometry.stroke",
                        stylers: [{ color: "#1f2835" }],
                    },
                    {
                        featureType: "road.highway",
                        elementType: "labels.text.fill",
                        stylers: [{ color: "#f3d19c" }],
                    },
                    {
                        featureType: "transit",
                        elementType: "geometry",
                        stylers: [{ color: "#2f3948" }],
                    },
                    {
                        featureType: "transit.station",
                        elementType: "labels.text.fill",
                        stylers: [{ color: "#d59563" }],
                    },
                    {
                        featureType: "water",
                        elementType: "geometry",
                        stylers: [{ color: "#17263c" }],
                    },
                    {
                        featureType: "water",
                        elementType: "labels.text.fill",
                        stylers: [{ color: "#515c6d" }],
                    },
                    {
                        featureType: "water",
                        elementType: "labels.text.stroke",
                        stylers: [{ color: "#17263c" }],
                    },
                ],

            });
            marker = new google.maps.Marker({ position: mapPoint, map: map });
        }
    </script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI4qVWnkN9KAZqF_r1HblpYjBKkEDO8r8&callback=initMap">
    </script>
}



