
@{
    ViewBag.Title = "Faq - InstaGames";
}
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style=" background-image: url(/Content/images/about-us/about.jpeg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">FAQ</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="~/home/index">Home</a></li>
                        <li class="breadcrumb-item active">FAQ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <div class="iq-accordion iq-accordion-square">

                    <div class="iq-accordion-block iq-active 1">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                What is InstaGames?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: block;">
                            <p class="iq-content-text">
                                InstaGames offers a variety of plans to meet your needs. The plan you choose will determine the number of devices that you can watch InstaGames on at the same time.
                                With all of our plans, you can download the InstaGames app on all your favorite devices and watch unlimited movies and TV shows.
                            </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 2">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                Will my account work outside my country?
                            </h4>
                        </div>

                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text">
                                InstaGames is available in over 190 countries around the world. ... The country on your account can't be changed unless you move to a new one.
                                If you have moved recently, see Traveling or moving with InstaGames for details.
                            </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 3">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                I am facing gaming issues. What do I do?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text">
                                Check your bandwidth.Disable any browser extensions, plugins, or add ons.Restart your router and modem.
                                Update your browser.Close excess browser tabs or applications.Clear your browser's cache.Disable/Enable Hardware acceleration.
                            </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 4">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                Is it Safe to use InstaGames now?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text">
                                Like any other app store or video-streaming platform, InstaGames can be extremely safe or extremely iffy depending on the content kids are exposed to. ...
                                Kids can also find plenty of swearing and mature content in the games. And the trading system can expose unsuspecting gamers to scammers.
                            </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 5">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                What benefits do I get with the packs?
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text">
                                InstaGames Play membership helps you get more from the games you love. ... your Play List, member discount, and all other benefits will only be available here.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

