@{
    ViewBag.Title = "PrivacyPolicy – InstaGames";
}

<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style=" background-image: url(/Content/images/about-us/about.jpeg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">Privacy Policy</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="~/home/index">Home</a></li>
                        <li class="breadcrumb-item active">Privacy Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <div class="iq-privacy-policy">
                    <div class="mb-3">
                        <h4 class="mb-3">1. What Personal Information About Users Does InstaGames Collect?</h4>
                        <p class="my-3">
                            When setting up an Account, InstaGames will collect your email address and country of residence. You are also required to choose a user name and a password.
                            The provision of this information is necessary to register a User Account. During setup of your account, the account is automatically assigned a number
                            that is later used to reference your user account without directly exposing Personally Identifying Information about you.
                            We do not require you to provide or use your real name for the setup of a User Account.
                        </p><br>

                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">2. Cookies and Web Beacons</h4>
                        <p class="mb-2">
                            We use "Cookies", which are text files placed on your computer, and similar technologies (e.g. web beacons, pixels, ad tags and device identifiers)
                            to help us analyze how users use our services, as well as to improve the services we are offering, to improve marketing,
                            analytics or website functionality.
                        </p>
                        <p class="mb-0">
                            The use of Cookies is standard on the internet. Although most web browsers automatically accept cookies, the decision of whether to accept or not is yours.
                            You may adjust your browser settings to prevent the reception of cookies, or to provide notification whenever a cookie is sent to you.
                            You may refuse the use of cookies by selecting the appropriate settings on your browser.
                            However, please note that if you do this, you may not be able to access the full functionality of our websites.
                            When you visit any of our services, our servers log your IP address, which is a number that is automatically assigned to the network your computer is part of.
                        </p><br>

                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">3. Third Party Payment Gateway – Financial Information</h4>
                        <p class="">
                            We use reasonable administrative, logical, physical and managerial measures to safeguard your personal information against loss, theft and unauthorized access, use and modification.
                            These measures are designed to provide a level of security appropriate to the risks of processing your personal information.
                        </p><br>

                    </div>
                    <div class="mb-3">
                        <h4 class="mb-3">4. Disclosure Children’s Privacy</h4>
                        <p class="">
                            The minimum age to create an InstaGames User Account is 13. Valve will not knowingly collect Personal Data from children under this age.
                            Where certain countries apply a higher age of consent for the collection of Personal Data, InstaGames requires parental consent before a
                            InstaGames User Account can be created and Personal Data associated with it collected. InstaGames encourages parents to instruct their children to never give out personal information when online.
                        </p><br>

                    </div>
                    <div class="mb-0">
                        <h4 class="mb-3">5. Data transfer, storage &amp; processing globally</h4>
                        <p class="mb-0">
                            The data protection laws of the European Economic Area, California, and other territories grant their residents certain rights in relation to their Personal Data.
                            While other jurisdictions may provide fewer statutory rights, we make the tools designed to exercise such rights available to our customers worldwide.
                            To allow you to exercise your data protection rights in a simple way we are providing a dedicated section on the InstaGames support page (the "Privacy Dashboard").
                            This gives you access to your Personal Data, allows you to rectify and delete it where necessary and to object to its use where you feel necessary.
                            To access it, log into the InstaGames and choose the menu items My Account -> Data Related to Your Account.
                            In most cases, you can access, manage, or delete Personal Data in the Privacy Dashboard, but you may also contact InstaGames with questions or requests via the contact processes
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
