
@{
    ViewBag.Title = "Terms of Use - InstaGames";
}

<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style=" background-image: url(../../Content/images/about-us/about.jpeg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">Terms of use</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="~/home/index">Home</a></li>
                        <li class="breadcrumb-item active">Terms of use</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <div class="iq-accordion iq-accordion-square">

                    <div class="iq-accordion-block iq-active 1">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                Terms of Use
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: block;">
                            <p class="iq-content-text">You may only use this Site and any materials found in this Site (including, but not limited to, any images, logos, designs, insignia, marks, pictures, sounds, text, messages, tools, software, technology, products, files, information, data, demos, promotional materials, audiovisual and multimedia works and any other items or expressions) (collectively, "Materials") in accordance with the terms and conditions of this Agreement, and you agree to comply with these terms and conditions at all times. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 2">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                Limited License
                            </h4>
                        </div>

                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text"> Subject to the terms and conditions of this Agreement, the company grants you a non-exclusive, non-transferable license, to access and use this Site for your personal use only. Such license is subject to this Agreement and does not include: (a) any commercial use of the Site or the Materials therein; (b) the distribution, public performance, public display, making publicly available, or other unauthorized exploitation of any Materials; (c) modifying or otherwise making any derivative uses of the Site or the Materials, or any portion thereof; (d) downloading (other than the page caching) of any portion of the Site, the Materials or any information contained therein, except as expressly permitted on the Site; or (f) any use of the Site or the Materials other than for their intended purposes. Any use of the Site or the Materials other than as specifically authorized herein, without the prior written permission of the company, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws, including without limitation copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in this Agreement shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. The company may revoke this license at any time. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 3">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                User Conduct
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text"> Your use of the Site, including the forums made available on the Site, is strictly subject to your compliance with Blizzard’s Code of Conduct (“Code of Conduct”), which is available for your review here. While the Code of Conduct describes certain actions Blizzard may take against your account for failure to comply with the Code of Conduct, such descriptions are not exclusive or exhaustive, and are intended primarily for informational purposes. Please be aware that your failure to abide by the Code of Conduct at all times shall constitute a violation of this Agreement, and may terminate your license to access or use the Site. </p>
                        </div>
                    </div>

                    <div class="iq-accordion-block 4">
                        <div class="iq-accordion-title">
                            <div class="iq-icon-right">
                                <i aria-hidden="true" class="fa fa-minus active"></i>
                                <i aria-hidden="true" class="fa fa-plus inactive"></i>
                            </div>
                            <h4 class="mb-0 accordion-title iq-heading-title">
                                Limitation of Liability and Indemnity
                            </h4>
                        </div>
                        <div class="iq-accordion-details" style="display: none;">
                            <p class="iq-content-text">
                                To the extent permitted by applicable law, in no event will the company be liable, whether in contract, warranty, tort, product liability, strict liability or other theory, to you or any other person or entity for any damages (including, without limitation, any indirect, incidental, special or consequential damages) arising out of or in connection with any use of, inability to use or results of use of this Site or any Materials on or in this Site, even if the company or its representative has been advised of the possibility of such damages.
                                You agree to defend and indemnify the company, its parent, subsidiaries, licensors and affiliates against and from any third party claims, liabilities, losses, injuries, damages, costs or expenses incurred by the company arising out of or from your use of the Site.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


